label.error {
    /*float: left;*/
    color: red;
    padding-top: .5em;
    vertical-align: top;
    font-weight: bold;
}

.border_red {
    color: red;
}

.ui-body-b, .ui-overlay-b {
    background: #FFF !important;
}

#more {
    margin-bottom: 30px;
}

h1 {
    font-family: "ff-tisa-web-pro", Georgia, serif;
}

h2 {
    font-size: 12px !important;
}

#annonce .entete h1 {
    font-size: 18px;
}

#annonce .entete span {
    font-size: 14px;
}

#annonce .entete .datas {
    font-size: 14px;
}

.size12 {
    font-size: 12px;
}

.resultat_lib_recruteur {
    font-size: 12px !important;
    font-weight: normal !important;
}

.resultat_lib_region {
    font-size: 12px !important;
    font-weight: normal !important;
}

.resultat_lib_contrat {
    font-size: 12px !important;
    font-weight: normal !important;
}

.entete h1 {
    color: #444444;
    margin-top: 0;
}

.entete {
    padding: 5px 10px;
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
}

#annonce h1.ui-title {
    width: 60%;
}

#recherche h1.ui-title {

    /*width:50%;*/
    margin: 0;
}

#recrutement h1.ui-title {
    margin: 0;
}

h1.ui-title img.logotitle {
    margin-top: 4px;
}

#mentions-legales h1.ui-title {
    margin-left: 15%;
    margin-right: 15%;
}

#recherche #nb_results {
    font-weight: bold;
}

#recherche #nb_results.noresult {
    text-align: center;
    color: #666;
}

.centre {
    border-top: 1px solid #cfcfcf;
    padding: 5px 10px;
    background-color: #e8e8e8;
}

.black {
    color: black;
}

.blue {
    color: #0c59b1;
}

.grey {
    color: grey;
}

.grey_clair {
    color: #ccc;
}

.darkgrey {
    color: #666666;
}

.bg_grey_clair {
    background-color: #ccc;
}

.bg_white {
    background-color: #fff;
}

.bg_is_device {
    background-color: #eeeeff !important;
}

.entete img {
    float: right;
    display: inline;
    width: 100px;
    box-shadow: 1px 1px 6px #555555;
    padding: 5px;
    margin-bottom: 9px;
}

.floatright {
    float: right;
}

.clear {
    clear: both;
}

.padtop10 {
    padding-top: 10px;
}

#nav-annonce.ui-footer-fullscreen, #nav-annonce.ui-footer {
    moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#nav-recherche.ui-footer-fullscreen, #nav-recherche.ui-footer {
    moz-opacity: 0.9;
    opacity: 0.9;
    filter: alpha(opacity=90);
}

#nav-annonce a {
    moz-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=100);
}

#recrutement .ui-content {
    padding: 0;
}

#recrutement {
    background-color: #ccc !important;
}

#annonce .ui-content {
    padding: 0;
}

#popupPostuler .bold {
    font-weight: bold !important;
}

#popupTransfertAmi .bold {
    font-weight: bold !important;
}

.bold {
    font-weight: bold;
}

.pad10 {
    padding: 10px;
}

.pad20 {
    padding: 20px;
}

.pad30 {
    padding: 30px;
}

#resultat-mes-recherches li {
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    background: none;
}

#resultat-mes-recherches li a {
    padding: 0;
    text-decoration: none;
}

#resultat-mes-recherches li div.contenu {
    position: relative;
    padding: 10px;
    background-color: #fff;
    font-size: 12px;
    min-height: 1.1em;
    outline: 0 none !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

#resultat-mes-recherches li div.contenu div {
    margin-bottom: 5px;
}

#resultat-mes-recherches li div.contenu div.motclef {
    font-style: normal;
    color: #333;
    padding-top: 5px;
    margin-bottom: 0;
}

#resultat-mes-recherches li a h2 {
    font-size: 14px !important;
    color: #fff;
    background-color: #666;
    margin: 0 !important;
    padding: 10px 0;
    text-align: center;
    font-weight: normal;
    text-decoration: none;
}

#resultat-recherche li {
    position: relative;
}

#resultat-recherche li a {
    padding-right: 100px !important;
}

#resultat-recherche li #div_img {
    position: absolute;
    right: 35px;
    top: 15px;
    box-shadow: 1px 1px 5px #555555;
    /*float: right;*/
    height: 60px;
    width: 60px;
}

#resultat-recherche li #div_img p {
    float: none;
    margin: 0;
    text-align: center !important;
    line-height: 60px;
    width: 60px;
}

#resultat-recherche li #div_img img {
    max-height: 98%;
    max-width: 98%;
    vertical-align: middle;
}

#resultat-recherche li h2 .contrat {
    font-weight: normal;
}

#recherche #pagin-pages {
    font-weight: bold;
}

.displaynone {
    display: none;
}

.notifications-wrapper {
    position: fixed;
    z-index: 2;
    height: 0;
    overflow: visible;
    left: 0;
    right: 0;
    top: 45px;
}

.notifications {
    width: 320px;
    margin: 0 auto;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.notifications > p {
    /*height: 32px;
    line-height: 32px;*/
    background: #e2eaf2;
    color: #626a72;
    text-align: center;
    margin: 0;
    border-top: 1px solid #c5d5e5;
}

div[data-role=panel] {
    height: 100%;
    width: 272px;
}

/* pour les popup */
/*div[data-role="popup"] > div[data-role=content] {
    margin-left: 0px;
}*/

/*div[data-role=content] {
    margin-left: 272px;
}*/


/*
   Zonne mes recherche
*/

/* div conteant les region + fonction et les icone d'action*/
.contenu-mes-recherches {
    border: solid 1px #333;
    border-radius: 0.6em;
    witdh:100%;
}

/* icone delete + switch on / off + nb d'annocne */
.mes-recherches-action {
    /*float:right;*/
    display: block;
    width: 39%;
    margin: auto !important;
}

.mr_icon_delete, .mr_icon_demande_alerte_push {
    float: right;
}

span.mr_nb_alerte_push, span.aa_nb_alerte_push {
    background:red ! important;
    border-radius: 2em ! important;
    border-color: transparent ! important;
    box-shadow: none ! important;
    padding: 0.2em 0.5em ! important;
    cursor: default;
    margin-right: 20px;

    color:#FFF ;
    font-weight: bold;
    text-shadow: none;
}

span.aa_nb_alerte_push {
    margin-left: 20px;
    font-size: 0.6em;
}

.mr_icon_demande_alerte_push {
    margin-right: 10px;
}

div.flip-push-contener {
    float: right;
    /*margin-right: 20px;*/
}

div.flip-push-contener label {
    float: left;
    margin-right: 10px;
    margin-top: 7px;
}

.end-box {
    float: right;
}

.ui-flipswitch-off {
    text-shadow: none;
}

/* zone liste des regions */
.mes-recherches-liste {
    float:left;
    width: 100%;
}

.mes-recherches-liste .title  {
    float: left;
    width: 100%;
    font-weight: bold;
}

.mes-recherches-liste .region, .mes-recherches-liste .fonction  {
    float:left;
    width: 100%;
    padding-left:10px;
}

.mes-recherches-liste .blue  {
    display: table;
    height: 100%;
    margin-bottom: 5px;
}

/* zone footer audessus du menu */
div[data-role=footer] {
    z-index: 2000;
}

.header-cent {
    height: auto;
}

#notif-push-alerte {
    max-width: 400px;
    margin: auto auto 50px auto;
    padding: 5px 20px 20px 20px;
    border-radius: 1.2em;

    background-color: #8e8e8e;
    text-shadow: 0 1px 0 #000000;
}

#notif-push-alerte h1 {
    margin: 0px;
}

#notif-push-alerte h1 p {
    margin: 0px;
}

@media (max-width: 520px) {
    .mes-recherches-action {
        margin: auto !important;
        width: 50%;
    }
}

@media (max-width: 640px) {
    div[data-role=content] {
        margin-left: 0px;
    }
    .ui-header .ui-title {
        margin:0;
    }

    .header-cent {
        height: 100px;
    }



}

