<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns = "http://www.w3.org/ns/widgets" xmlns:gap = "http://phonegap.com/ns/1.0" 
	id = "batiactu"
	version = "1.1.0"
	versionCode = "3">

    <!-- Incrementer la version de versionCode pour Android, sinon lors de la soumission une erreur apparaitra -->

    <name>Batiactu Emploi</name>
    <description>Batiactu Emploi : 1er site de référence des annonces emploi du BTP</description>
    <author href="http://www.batiactugroupe.com" email="webmaster@batiactugroupe.com">Batiactu Groupe</author>

    <icon src="images/icon.png" />

    <gap:splash src="images/splash/ios/Default320x480.png" gap:platform="ios" width="320" height="480" />
    <gap:splash src="images/splash/ios/Default480x320.png" gap:platform="ios" width="480" height="320" />
    <gap:splash src="images/splash/ios/Default640x960.png" gap:platform="ios" width="640" height="960" />
    <gap:splash src="images/splash/ios/Default960x640.png" gap:platform="ios" width="960" height="640" />    
    <gap:splash src="images/splash/ios/Default640x1136.png" gap:platform="ios" width="640" height="1136" />
    <gap:splash src="images/splash/ios/Default1136x640.png" gap:platform="ios" width="1136" height="640" />    
    <gap:splash src="images/splash/ios/Default768x1004.png" gap:platform="ios" width="768" height="1004" />
    <gap:splash src="images/splash/ios/Default1024x768.png" gap:platform="ios" width="1024" height="748" />
    <gap:splash src="images/splash/ios/Default2048x1496.png" gap:platform="ios" width="2048" height="1496" />
	<gap:splash src="images/splash/ios/Default1536x2008.png" gap:platform="ios" width="1536" height="2008" />

    <gap:splash src="images/android/Default200x320.png" width="200" height="320" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="images/android/Default320x470.png" width="320" height="470" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="images/android/Default480x640.png" width="480" height="640" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="images/android/Default720x960.png" width="720" height="960" gap:platform="android" gap:density="xhdpi" />
    
    <gap:splash src="images/splash/blackberry/Default250x250.png" gap:platform="blackberry" />
    
    <gap:splash src="images/splash/winphone/Default480x800.png" gap:platform="winphone" />

    <gap:splash src="images/splash.png" /> <!-- default 320x480 pixels -->

    <icon src="images/icon57.png" gap:platform="ios" width="57" height="57" /> <!-- iPhone 3G, 3GS, iPod Touch 2G, 3G -->
    <icon src="images/icon72.png" gap:platform="ios" width="72" height="72" /> <!-- iPad 1, 2, iPad mini -->
    <icon src="images/icon114.png" gap:platform="ios" width="114" height="114" /> <!-- iPhone 4, 4S, iPod Touch 4G -->
    <icon src="images/icon144.png" gap:platform="ios" width="144" height="144" /> <!-- iPad 3, 4 -->

    <icon src="images/icon76.png" gap:platform="ios" width="76" height="76" /> <!-- IOS7  -->
    <icon src="images/icon120.png" gap:platform="ios" width="120" height="120" /> <!-- IOS7  -->
    <icon src="images/icon152.png" gap:platform="ios" width="152" height="152" /> <!-- IOS7  -->


    <icon src="images/icon36.png" gap:platform="android" gap:density="ldpi" /> <!-- 36 pixels -->
    <icon src="images/icon48.png" gap:platform="android" gap:density="mdpi" /> <!-- 48 pixels -->
    <icon src="images/icon72.png" gap:platform="android" gap:density="hdpi" /> <!-- 72 pixels -->
    <icon src="images/icon96.png" gap:platform="android" gap:density="xhdpi" /> <!-- 96 pixels -->

    <icon src="images/icon72.png" gap:platform="blackberry" /> <!-- 72 pixels -->
    <icon src="images/icon72hover.png" gap:platform="blackberry" gap:state="hover"/> <!-- 72 pixels -->

    <icon src="images/icon57.png" gap:platform="winphone" /> <!-- 57 pixels -->
    <icon src="images/icon57.png" gap:platform="winphone" gap:role="background" /> <!-- 72 pixels -->

    <icon src="images/icon29.png" gap:platform="webos" /> <!-- 29 pixels -->
    <icon src="images/icon15.png" gap:platform="webos" gap:role="mini" /> <!-- 15 pixels -->

    <preference name="phonegap-version" value="3.6.3" />

    <!-- orientation with possible values default (both), landscape, or portrait -->
    <preference name="orientation" value="default" />

    <preference name="target-device" value="universal" />

    <preference name="fullscreen" value="true" /> <!-- remove the upper bar on iOS and Android -->

    <!-- iOS PREFERENCES -->
        
    <preference name="webviewbounce" value="false" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="false" />
    <preference name="exit-on-suspend" value="true" />
    <preference name="show-splash-screen-spinner" value="false" />
    <preference name="auto-hide-splash-screen" value="true" /> <!-- if set to false, the splash screen must be hidden using a JavaScript API -->

    <gap:config-file platform="ios" parent="CFBundleShortVersionString">
        <string>110.2</string>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIStatusBarHidden">
        <true/>
    </gap:config-file>

    <gap:config-file platform="ios" parent="UIViewControllerBasedStatusBarAppearance">
        <false/>
    </gap:config-file>
    <!-- ANDROID PREFERENCES -->
        
    <preference name="android-minSdkVersion" value="7" /> <!-- minimum Android 2.1 -->
    <!-- <preference name="android-maxSdkVersion" value="17" /> maximum Android 4.2 -->
    <preference name="android-installLocation" value="auto" />
    <preference name="splash-screen-duration" value="3000" />
    <preference name="load-url-timeout" value="20000" />
        
    <!-- BLACKBERRY PREFERENCES -->
        
    <preference name="disable-cursor" value="false" />

    <!-- PHONEGAP API FEATURES PREFERENCES -->
        
    <preference name="permissions" value="none"/>

    <gap:plugin name="org.apache.cordova.device" version="0.2.12" />
    <gap:plugin name="com.adobe.plugins.gaplugin" version="2.3.1" />
    <gap:plugin name="com.phonegap.plugins.pushplugin" version="2.1.1" />
    <gap:plugin name="com.phonegap.plugin.statusbar" version="1.1.0" />

    <!-- pour le debug avec chrome -->
    <!--gap:plugin name="com.jamiestarke.webviewdebug" version="1.0.8" /-->

</widget>
